<!DOCTYPE html>
<html lang="en" ng-app="wordWizzerdApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon'/ >
  <base href="/">

  <!-- bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- bootstrapjs -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  <!-- responsive voice script -->
  <script src="https://code.responsivevoice.org/responsivevoice.js"></script>

  <!-- angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>

  <!-- ngRoute -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>

  <!-- ngResource -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>

  <!-- ngSanitize -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="scripts/app.js"></script>

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  
  <title>Word Wizzərd</title>
</head>
<body ng-controller="MainCtrl">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Word Wizzərd</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/newpassage">Create-a-Story</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inject-a-Word <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/inject-a-word/passages">Find-a-Story</a></li>
              <li><a href="/inject-a-word/stories">Read-a-Story</a></li>
              <li><a href="/inject-a-word/randomstory">Try-a-Story</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Unscramble-a-Word <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/unscramble-a-word/passages">Find-a-Story</a></li>
              <li><a href="/unscramble-a-word/randomstory">Try-a-Story</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proofread-a-Story <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/proofread-a-story/passages">Find-a-Story</a></li>
              <li><a href="/proofread-a-story/randomstory">Try-a-Story</a></li>
            </ul>
          </li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Complete-a-Story <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/complete-a-story/passages">Find-a-Story</a></li>
              <li><a href="/complete-a-story/randomstory">Try-a-Story</a></li>
            </ul>
          </li> -->
          <li><a href="/leaderboard">Leaderboard</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
          <a>Who's Playing? <input type="text" ng-model="username" id="username" placeholder="Username" autofocus>
          </a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <div ng-view></div>
</body>
</html>