<div id="homepage-margin">
  <div class="col-xs-6 col-sm-4">
    <img src="/images/wizard.svg" class="img-responsive home-wizard" alt="THE Word Wizzerd">
  </div>
  <div class="col-sm-8">
    <h1 class="h2 text-center"><strong>Welcome to Word Wizz&#601;rd!</strong></h1>
    <h2 class="h4"><strong>Word Wizz&#601;rd is a collection of word games using passages from classic literature.  Be sure to enter your name at the top right to play and keep track of your scores.</strong></h2>
    <h3 class="text-center"><strong>Games Available:</strong></h3>
    <div class="row">
      <div class="col-sm-4 col-md-3 col-xl-2">
        <a class="btn btn-block btn-warning" href="/grammaring/randomstory">Grammaring</a>
      </div>
      <div class="col-sm-8 col-md-9 col-xl-10">
        <p>Players provide words for given parts of speech. The words are then inserted into the passage. The story can be read aloud using several different voices.</p>
      </div>
    </div>
    <div class="row">
      <br>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-3 col-xl-2">
        <a class="btn btn-block btn-warning" href="/unscrambling/randomstory">Unscrambling</a>
      </div>
      <div class="col-sm-8 col-md-9 col-xl-10">
        <p>Players must unscramble words using context clues. The game is timed, giving players a bonus for unscrambling all the words quickly.</p>
      </div>
    </div>
    <div class="row">
      <br>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-3 col-xl-2">
        <a class="btn btn-block btn-warning" href="/proofreading/randomstory">Proofreading</a>
      </div>
      <div class="col-sm-8 col-md-9 col-xl-10">
        <p>Players are tasked to find the misspelled words in a story. For hints, the story can be read aloud allowing the user to listen for mistakes.</p>
      </div>
    </div>
  </div>
</div>