<div id="homepage-margin">
  <div class="col-xs-6 col-sm-4">
    <img src="/images/wizard.svg" class="img-responsive" alt="">
  </div>
  <div class="col-sm-8">
    <h1 class="text-center"><strong>Welcome to Word Wizz&#601;rd!</strong></h1>
    <h2><strong>Word Wizz&#601;rd is a collection of word games using passages from classic literature.  Be sure to enter your name at the top right to play and keep track of your scores.</strong></h2>
    <h2 class="text-center"><strong>Games Currently Available:</strong></h2>
    <div class="row">
      <div class="col-md-4">
        <h3><a class="btn btn-block btn-warning" href="/inject-a-word/randomstory">Inject-a-Word</a></h3>
      </div>
      <div class="col-md-8">
        <h4>Inject-a-Word is a game that asks players to provide words that have given parts of speech.  The words are then INJECTED into the passage in place of other words.  The story can be read aloud using several different voices.</h4>
      </div>
    </div>
    <div class="row">
      <br>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3><a class="btn btn-block btn-warning" href="/unscramble-a-word/randomstory">Unscramble-a-Word</a></h3>
      </div>
      <div class="col-md-8">
        <h4>Unscramble-a-Word is a game asks players to unscramble words using context clues.  The game is timed, giving players a bonus for unscrambling all the words quickly.</h4>
      </div>
    </div>
    <div class="row">
      <br>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3><a class="btn btn-block btn-warning" href="/proofread-a-story/randomstory">Proofread-a-Story</a></h3>
      </div>
      <div class="col-md-8">
        <h4>Proofread-a-Story is a game where players are tasked to find the misspelled words in a story.  For hints (and fun!), the story can be read aloud allowing the user to listen for mistakes.</h4>
      </div>
    </div>
  </div>
</div>