<h1>Add a Story</h1>
<hr>
<form ng-submit="savePassage()">
  <div ng-if="username==='random user'" class="form-group">
    <input type="text" class="form-control" ng-model="newPassage.submittedBy" placeholder="If you want credit, put in a username.">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="newPassage.title" placeholder="Give your story a title.">
  </div>
  <div class="form-group">
    <textarea id="userRatingTextarea" rows="8" class="form-control" ng-model="newPassage.text" placeholder="Tell me your story."></textarea>
  </div>
  <input type="submit" class="btn btn-warning btn-block" value="Submit">
</form>