@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
}

#navbar-margin {
  margin-top: 70px;
}

#homepage-margin {
  margin-top: 100px;
}

.btn-passage {
  margin-bottom: 5px;
}

.btn {
  font-size: 20px;
}

.no-margin {
  margin: 0;
}

.underline {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 2px solid black;
}

.replacement {
  color: #e8931e;
  font-weight: bolder;
  text-decoration: underline;
  width: 30px;
}

.unscrambleReplacement {
  color: #e8931e;
  font-weight: bolder;
}

.corrected {
  color: #e8931e;
  font-weight: bolder;
  text-decoration: underline;
  width: 30px;  
}

.story {
  line-height: 150%;
}

input#username {
  border: 0;
  padding: 0;
}

input.unscrambledWord {
  display: inline;
  width: 160px;
  border: 0;
  border-bottom: 2px solid black;
}

.well {
  border: 20px;
  padding: 20px;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.leader-wizard {
  position: fixed;
  width: 400px;
  bottom: 50px;
  right: 0px;
}

@media (max-width: 1000px) {
  .leader-wizard {
    position: relative;
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 880px) {
  #navbar-margin {
    margin-top: 170px;
  }
@media (min-width: 768px) and (max-width: 880px) {
  #homepage-margin {
    margin-top: 200px;
  }
}

@media (min-width: 880px) and (max-width: 1150px) {
  #navbar-margin {
    margin-top: 120px;
  }
@media (min-width: 880px) and (max-width: 1150px) {
  #homepage-margin {
    margin-top: 150px;
  }
}