@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
}

#navbar-margin {
  margin-top: 70px;
}

#homepage-margin {
  margin-top: 100px;
}

.btn-passage {
  margin-bottom: 5px;
}

.btn {
  font-size: 20px;
}

.no-margin {
  margin: 0;
}

.underline {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 2px solid black;
}

.replacement {
  color: #e8931e;
  font-weight: bolder;
  text-decoration: underline;
  width: 30px;
}

.corrected {
  color: #e8931e;
  font-weight: bolder;
  text-decoration: underline;
  width: 30px;  
}

.story {
  line-height: 150%;
}

input#username {
  border: 0;
  padding: 0;
}

input.unscrambledWord {
  border: 0;
  padding: 0;
  font-size: 20px;
}

/*div#background {
  margin-top: 50px;
  background: url("/images/greatreads.jpeg");
  background-size: cover;
  height: 500px;
  color: white;
}

div#foreground {
  width: 100%;
  height: 500px;
  background-color: rgba(256, 256, 256, 0.3)
}*/

/*#homeheader {
  margin-top: 120px;
  font-size: 70px;
  color: #333;
}
*/
.well {
  border: 20px;
  padding: 20px;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (min-width: 768px) and (max-width: 880px) {
  #navbar-margin {
    margin-top: 170px;
  }
}

@media (min-width: 880px) and (max-width: 1150px) {
  #navbar-margin {
    margin-top: 120px;
  }
}

.leader-wizard {
  position: fixed;
  width: 400px;
  bottom: 50px;
  right: 0px;
}

@media (max-width: 1000px) {
  .leader-wizard {
    position: relative;
    display: none;
  }
}