<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-4">
      <div class="well">
        <h1 class="h2 text-center"><strong>Proofreading</strong></h2>
        <hr>
        <h2 class="h4"><strong>Directions:</strong></h3>
        <p>Find the misspelled words in the passage. Type the correct spelling in the box below.  For hints, use the button at the bottom to play the passage and listen for words that are incorrect.</p>  
        <form class="hidden-xs">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="wordToCheck" placeholder="Correct the spelling of a word...">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-block btn-warning" ng-click="checkWord()" value="Submit">
          </div>
        </form>
        <h4 class="h4 text-left"><strong>Results:</strong></h4>
        <p>Misspelled Words Left: {{ totalQuestions - attempts.correct.length }}</p>
        <p>Correct: {{ attempts.correct.length }}</p>
        <p>Incorrect: {{ attempts.incorrect }}</p>
        <p>Score: {{ score }}</p>
        <button ng-show="passage.submittedBy==='Classics'&&username!=='random user'" ng-click="saveScore(username, score)" class="btn btn-block btn-warning">Save Score</button>
      </div>
    </div>
    <div class="col-sm-8 mb-xs">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="h3">{{ passage.title }}</h2>
          <hr>
          <h4 class="story"><div ng-bind-html="storyToProofread"></div></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<form class="visible-xs">
  <div class="row fixed-bottom">
    <div class="col-xs-9">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="wordToCheck" placeholder="Correct the spelling...">
      </div>
    </div>
    <div class="col-xs-3 pl0">
      <div class="form-group">
        <input type="submit" class="btn btn-block btn-warning" ng-click="checkWord()" value="Go">
      </div>
    </div>
  </div>
</form>
